<div class="container">
    <h1 class="text-center">affirmations</h1>
    <p class="text-center">
      <a href="/affirm/new">new</a>
      <a href="/affirm/index">all</a>
    </p>
  
      <div class="well">
        <h2><%= selfAffirm.content %></h2>
        <form method="GET" action="/affirm/edit/<%= selfAffirm.id %>">
            <input hidden type="text" name="selfAffirm" value="<%= selfAffirm.content %>">
            <button class="btn btn-primary" type="submit" value="Edit">edit</button>
          </form>
        <form method="POST" action="/affirm/<%= selfAffirm.id %>?_method=DELETE">
          <input hidden type="text" name="selfAffirm" value="<%= selfAffirm.content %>">
          <button class="btn btn-primary" type="delete" value="Delete">delete</button>
        </form>
      </div>
      
  </div>