<body id="affirm">
<% if (currentUser) { %> 
<div class="container">
    <h2 class="text-center">affirmations</h2>
    <p class="text-center">
      <a href="/affirm/new">new</a>
      <a href="/affirm/index">all</a>
    </p>
  
      <div class="well" style="background-color: #ffffff69;border-radius: 10px;padding: 20px;margin-top: 5%;">
        <h2 style="margin-bottom: 50px;"><%= selfAffirm.content %></h2>
        
        <form method="GET" action="/affirm/edit/<%= selfAffirm.id %>" style="margin-bottom: 10px;">
            <!-- <input hidden type="text" name="selfAffirm" value="<%= selfAffirm.content %>"> -->
            <button class="btn btn-primary" type="submit" value="Edit">edit</button>
        </form>
        <form method="POST" action="/affirm/<%= selfAffirm.id %>?_method=DELETE">
          <input hidden type="text" name="selfAffirm" value="<%= selfAffirm.content %>">
          <button class="btn btn-primary" type="delete" value="Delete">delete</button>
        </form>
      </div>
      
  </div>
<div class="col-sm-12" style="margin-bottom: 10%;"></div>
<% } else { %>
    
<% } %>
</body>